<div id="app">
    <p>Hello , {{greetee}}</p>

    <p v-if="hours<12">Morning</p>
    <p v-if="hours<18 && hours>12">Afternoon</p>
    <p v-if="hours>18">Evening</p>

    <p v-if="path==='/'">你正位于首页</p>
    <p v-else>你正位于{{path}}</p>

    <p>The second dog's name is : {{dogs[1]}}</p>
    <p>
        All dog's name is: {{dogs}}
    </p>

    <div v-if="true">one</div>
    <div v-if="false">two</div>

    <div v-show="true">one</div>
    <div v-show="false">two</div>

    <div v-if="user">
        <p>User name: {{user.name}}</p>
    </div>

    <div v-if="state === 'loading'">加载中...</div>
    <div v-else-if="state==='error'">出错了</div>
    <div v-else>---我们的内容</div>

    <ul>
        <li v-for="(dog, i) in dogs" >{{dog}}:{{i}}</li>
    </ul>

    <ul>
        <li v-for="(rent, city) in averageRent">
            {{city}} 的平均租金是 ${{rent}}
        </li>
    </ul>

    <ul>
        <li v-for="n in 10">{{n}}</li>
    </ul>

    <button v-bind:type='buttonType'>Test button</button>

    <button v-bind:disabled="buttonDisabled">Test button disabled</button>

    <button :disabled="buttonDisabled">Test button disabled 2</button>

</div>

<script src="https://unpkg.com/vue"></script>

<script>
    new Vue({
        el:'#app',
        data:{
            hours:new Date().getHours(),
            greetee:'world',
            path:location.pathname,
            dogs:['Rex', 'Rover', 'Henrietta', 'Alan'],
            user:undefined,
            averageRent:{
                london:1650,
                paris:1730,
                NYC:3680
            },
            buttonType:'submit',
            buttonDisabled:true
        },
        created(){}
    });
</script>